{% extends "base.html" %}

{% block title %}Doctor list{% endblock %}

{% block content %}
<table class="table table-striped table-hover table-bordered" xmlns:https="http://www.w3.org/1999/xhtml">
    <thead class="table-dark">
    <tr>
        <th>PICTURE</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>E-MAIL</th>
        <th>AGE</th>
        <th>GENDER</th>
    </tr>
    </thead>
    <tbody>
    {% for doctor in doctors %}
    <tr>
        <td>
            {% if doctor.image %}
            <img src="{{ doctor.image.url }}" alt="" style="height: 40px;width: 40px">
            {% else %}
            <i class="fa-solid fa-user"></i>
            {% endif %}
        </td>
        <td>{{ doctor.first_name }}</td>
        <td>{{ doctor.last_name }}</td>
        <td>{{ doctor.email }}</td>
        <td>{{ doctor.age }}</td>
        <td>{{ doctor.gender }}</td>
        <td><a href="{% url 'updatedoctor' doctor.id %}" class="btn btn-success" type="button">UPDATE DOCTOR</a></td>
        <td><a href="{% url 'deletedoctor' doctor.id %}" class="btn btn-danger" type="button" onclick="return confirm('Are you sure you want to delete the doctor?')">DELETE</a></td>
    </tr>
    {% endfor %}
    </tbody>


</table>



{% endblock %}